<div class="contents">
  <h2>게시글 목록</h2>
  <table class="table" ng-controller="boardController">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in articles">
        <td>{{article.id}}</td>
        <td><a href="/board/{{article.id}}">{{article.title}}</a></td>
        <td>{{article.writer}}</td>
      </tr>
    </tbody>
  </table>
  <% if session[:userid] %>
  <a class="btn btn-default" href="/board/write">새 글 쓰기</a>
  <% end %>
</div>